body{font-family: Roboto Slab;}
.half-width img{width: 50%;
    margin: 30px;
    padding: 25px;}
.half-width{
    float: left; 
    width: 28%;}
section{height: 300px; }
                       
#robcolor{color: rgb(221, 136, 9);}
.link{text-decoration: none;
     color: ghostwhite; 
     font-weight: 700;
     font-size: 40px;
     background-image: linear-gradient(180deg,rgb(255, 38, 0),tomato)}
.link{border-radius: 5px;}
.aligan{
    text-align: center;}
.exchang{
    margin-left: 50px;}
 #wow{
     width: 200%;
    padding-top: 50%;
     padding-left: 140%;}
.bacground{
    width: 700px;}
.container{
    position: relative;
    width: 200%;
    width: 30%;}
.text{
    position: absolute;
    bottom: 20px;}
    
    

    

    
    
    
    
    
    

    
  
  }   
    
    

    




    
    

    
        
    
    

    

    



    
    

     
     
                                                                                       



    








